* {
  margin: 0;
  padding: 0;
}
body {
  font-family:Arial, Helvetica, sans-serif ;
}
.App {
  text-align: center;
}
.crypto-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gold;
  height: 5rem;
}
.crypto-header input {
  background: rgba(#fff, 0.5);
  padding: 0.5rem 7rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: large;
}
.crypto-header input:focus {
  background: rgba(#fff, 0.9);
  outline: none;
  border: 2px solid rgb(98, 163, 189);
}